.home-cont{
    display: grid;
    grid-template-columns: 4fr 3fr; 
    width: 70%;
    margin: auto;
    justify-items:left;
    align-items: center;
    margin-top: 100px;
    
}

h1{
    color: white;
    padding-bottom: 20px;
}

span{
    background: linear-gradient(to left, chartreuse, rgb(19, 102, 2), chartreuse);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 200%;
    white-space: nowrap;
    animation: magic-text 3s linear infinite;
}

@keyframes magic-text {
    from{
        background-position: 0% center;
    }
    to{
        background-position: 200% center;
    }
}

@media screen and (max-width: 900px) {
    .home-cont{
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 40px;
    }
}