.profile-pic{
    border-radius: 50%;
    width: 400px;
    object-fit: cover;
}

.pfp-cont{
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 400px;
    height: 400px;
    border: 3px dotted chartreuse;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.pfp-cont:hover{
    border: 3px solid chartreuse;
    box-shadow: 0 0 20px 5px rgba(127, 255, 0, 0.5);
    transform: scale(1.05);
    transition: 0.3s;
}