.card {
    border-radius: 10px;
    border: 2px solid chartreuse;
    transition: 0.4s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    object-fit: cover;
    height: 200px;
    width: 150px;
    cursor: pointer;
    color: transparent;
}

.card:hover {
    color: black;
    transform: scale(1.1);
    transition: 0.2s;
}

.card-image {
    height: 200px;
    transition: 0.4s;
}

.project-name {
    position: absolute;
    text-wrap: pretty;
}

.card-inner-cont {
    color: transparent;
    position: relative;
    transition: 0.4s;
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.card-inner-cont:hover{
    color: white;
    transition: 1s;
}

.card-inner-cont:hover .card-image {
    filter: blur(14px);
    transition: 0.2s;
}
