.card {
    border-radius: 10px;
    border: 2px solid chartreuse;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 250px;
    cursor: pointer;
    color: white;
    background: linear-gradient(130deg, transparent, transparent, chartreuse, rgb(33, 141, 0));
    background-size: 400%;
}

.card:hover {
    color: black;
    transform: scale(1.1);
    background-position: 100% 100%;
    transition: 0.2s;
}

.project-name {
    text-wrap: pretty;
    padding-left: 20px;
    padding-right: 20px;
}
